<form data-user-id="1" class="new_card" id="new_card" action="#" accept-charset="UTF-8" data-remote="true" method="post">
  <b>Name</b>
  <div>
      <input type="text" name="name" id="card_name">
  </div>
  <br>
  <b>Card number</b>
  <div>
      <input type="text" name="number" id="card_number">
  </div>
  <br>
  <b>Expiration month</b>
  <div>
      <input type="text" name="expiration_month" id="card_expiration_month">
  </div>
  <br>
  <b>Expiration year</b>
  <div>
      <input type="text" name="expiration_year" id="card_expiration_year">
  </div>
  <br>
  <b>Security code</b>
  <div>
      <input type="text" name="security_code" id="card_security_code">
  </div>
  <br>
  <input type="submit" name="commit" value="Create">
</form>