<h3>Add a new card for <%= @user.name %></h3>
<%= form_for @card, url: user_omise_cards_path(@user.id), method: :post do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
<% end %>
<br><br><br>
<%= link_to 'Back', user_path(@user.id) %>